.site-component-wrapper {
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem 0.5rem;

  transition: all 0.2s;

  color: var(--text-color);
  background-color: var(--primary-color);

  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2),
    0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.site-component-wrapper:hover {
  cursor: pointer;

  background-color: var(--primary-color);

  transform: scale(1.05);
}
